<h2><%= title %> </h2>
<table>
  <thead>
  <tr>
    <th>Book Number</th>
    <th>Book Title</th>
    <th>Book Price</th>
    <th>Book Published At</th>
    <th>Name</th>
    <th>Last name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% data.each do |item| %>
      <tr>
        <td><%= item.book_number %></td>
        <td><%= item.book_title %></td>
        <td><%= item.book_price %></td>
        <td><%= item.book_published_at %></td>
        <% if !!item.author_name %>
        <td><%= item.author_name %></td>
        <td><%= item.author_last_name %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>