<h2><%= title %> </h2>
<table>
  <thead>
  <tr>
    <th>Book Number</th>
    <th>Book Title</th>
    <th>Book Published At</th>
    <th>Comment</th>
    <th>Score</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% data.each do |item| %>
      <tr>
        <td><%= item.book_number %></td>
        <td><%= item.book_title %></td>
        <td><%= item.book_published_at %></td>
        <td><%= item.feedback_comment %></td>
        <td><%= item.feedback_score %></td>
      </tr>
  <% end %>
  </tbody>
</table>