<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.name_and_lastname %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @user.birth_date %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @user.pin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
