<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @book.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.price %>
</p>


<p>
  <strong>Published at:</strong>
  <%= @book.published_at.to_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name_and_lastname %>
</p>

<h2> New Feedback </h2>

<%= render 'feedbacks/form', feedback: @feedback %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
