<p id="notice"><%= notice %></p>

<p>
  <strong>comment:</strong>
  <%= @feedback.comment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feedback.user.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @feedback.user.last_name %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
