<p id="notice"><%= notice %></p>

<p>
  <strong>comment:</strong>
  <%= @feedback.comment %>
</p>

<p>
  <strong>feedbacker</strong>
  <%= @feedback.user.name_and_lastname %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
