<%= form_for(address_book) do |f| %>
  <% if address_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address_book.errors.count, "error") %> prohibited this address_book from being saved:</h2>

      <ul>
      <% address_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name_and_lastname %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
