<!DOCTYPE html>
<html>
  <head>
    <title>Classwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to 'authors', authors_path %>
  <%= link_to 'books', books_path %>
  <%= link_to 'addresses', addresses_path %>
  <%= link_to 'feedbacks', feedbacks_path %>
  <%= link_to 'book filter view', book_filter_view_path %>

  <%= yield %>
  </body>
</html>
